
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.rojo{
    color: red;
}
.validoInput {
    border: 2px solid darkgreen
}
.errorImput {
    border: 2px solid darkred;
}